cov-core==1.15.0
coverage==4.3.4
gunicorn==19.3.0
mock==2.0.0
py==1.4.30
pytest==2.6.4
pytest-cov==1.8.1
django-jenkins==0.110.0
Werkzeug==0.10.4
Django==1.9
django-bootstrap3==8.2.1
django-mathfilters==0.4.0
wheel==0.29.0
flake8==3.3.0
