{% extends "layout.html" %}
{% load bootstrap3 %}

{% block title %}Forgot Your Password? | {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
	<div class="col-md-8 col-md-offset-2">
	   <center> <h3>Forgot your password?</h3></center>
	    <p align="center">Oh no! It happens to the best of us though! Enter the email address that's associated with your account and we'll send you instructions on how you can change your password.</p>
	    
	    <form method="POST">
	        {% csrf_token %}
	        {% bootstrap_form form %}
	        <input type="submit" value="Send me instructions!" class="btn btn-default">
	    </form>
	</div>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/>
</div>
{% endblock %}