{% extends "layout.html" %}
{% load bootstrap3 %}

{% block title %}Change Your Password | {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
	<div class="col-md-8 col-md-offset-2">
	    <center><h3>Reset your password</h3></center>

	    <form method="POST">
	   	 {% csrf_token %}
	   	 {% bootstrap_form form %}
	   	 <input type="submit" value="Change it" class="btn btn-default">
	    </form>
	</div>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/>
</div>
{% endblock %}