{% extends "layout.html" %}
{% load bootstrap3 %}

{% block title %}Password Reset | {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<center><h3>Password Reset Complete!</h3></center>
	    
	    <p align="center">Your new password has been set! You should be all set to <a href="{% url 'login' %}">Log in</a>.</p>
	</div>

    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/>
</div>
{% endblock %}