{% extends "layout.html" %}
{% load static from staticfiles %}
{% load mathfilters %}

{% block title %} Lagopoly | {{page_title}} {% endblock %}

{% block content %}

<!-- Titlebar
================================================== -->
<div class="container margin-top-30 padding-bottom-60" style="argin-left:10px; adding-right: 0px;">
<!-- Widget -->
	<div class="row">
	<div class="col-md-3">
		<div class="sideba lef">
			
			<div class="my-account-nav-container padding-bottom-0">
				
				<div>
					<div class="my-profile">
						<div align="center" class=" padding-bottom-10">
							<h2>₦{{wallet.balance|floatformat:"2"}}</h2>
							<div>Available Funds</div>
							<div><h6><a href="{% url 'investors:fund' %}">Add Funds</a> | 
									<a href="{% url 'investors:withdraw' %}">Make Withdrawal</a></h6></div>
						</div>
					</div>
				</div>
				<hr/>
				
				<div class="padding-top-0">
					<div class="my-account-nav-containe padding-bottom-30">
						
						<ul class="my-account-nav padding-bottom-0">
							{% if page_title == 'investors area' %}
								<div class="row current margin-bottom-5 padding-left-10" onclick="location.href='{% url 'investors:home' %}';" style="cursor: pointer;">
									<li><i class="sl sl-icon-speedometer"></i>&nbsp;&nbsp;Dashboard</li>
								</div>
							{% else %}
								<div class="row margin-bottom-5 padding-left-10" onclick="location.href='{% url 'investors:home' %}';" style="cursor: pointer;">
									<li><i class="sl sl-icon-speedometer"></i>&nbsp;&nbsp;Dashboard</li>
								</div>
							{% endif %}

							{% if 'Wallet History' in page_title %}
							<div class="row margin-bottom-5 padding-left-10 current" onclick="location.href='{% url 'investors:statement' %}';" style="cursor: pointer;">
								<li><i class="fa fa-database"></i>&nbsp;&nbsp;Financial Statement</li>
							</div>
							{% else %}
							<div class="row margin-bottom-5 padding-left-10" onclick="location.href='{% url 'investors:statement' %}';" style="cursor: pointer;">
								<li><i class="fa fa-database"></i>&nbsp;&nbsp;Financial Statement</li>
							</div>
							{% endif %}

							{% if 'Investment' in page_title %}
							<div class="row margin-bottom-5 padding-left-10 current" onclick="location.href='#';" style="cursor: pointer;">
								<li><i class="fa fa-file-word-o"></i>&nbsp;&nbsp;Investment Documents</li>
							</div>
							{% else %}
							<div class="row margin-bottom-5 padding-left-10" onclick="location.href='#';" style="cursor: pointer;">
								<li><i class="fa fa-file-word-o"></i>&nbsp;&nbsp;Investment Documents</li>
							</div>
							{% endif %}


							{% if 'Bank Account' in page_title %}
								<div class="row margin-bottom-5 padding-left-10 current" 
									onclick="location.href='{% url 'investors:account' %}';" style="cursor: pointer;">
									<li><i class="sl sl-icon-credit-card"></i>&nbsp;&nbsp;Bank Account</li>
								</div>
							{% else %}
								<div class="row margin-bottom-5 padding-left-10" 
									onclick="location.href='{% url 'investors:account' %}';" style="cursor: pointer;">
									<li><i class="sl sl-icon-credit-card"></i>&nbsp;&nbsp;Bank Account</li>
								</div>
							{% endif %}
							<div class="row margin-bottom-5 padding-left-10" onclick="location.href='#';" style="cursor: pointer;">
								<li><i class="sl sl-icon-settings"></i>&nbsp;&nbsp;Settings</li>
							</div>
							{% if 'Reset Password' in page_title %}
							<div class="row margin-bottom-5 padding-left-10 current" onclick="location.href='{% url 'investors:changepassword' %}';" style="cursor: pointer;">
								<li><i class="sl sl-icon-shield"></i>&nbsp;&nbsp;Security</li>
							</div>
							{% else %}
							<div class="row margin-bottom-5 padding-left-10" onclick="location.href='{% url 'investors:changepassword' %}';" style="cursor: pointer;">
								<li><i class="sl sl-icon-shield"></i>&nbsp;&nbsp;Security</li>
							</div>
							{% endif %}
						</ul>
					</div>

				</div>

			</div>

		</div>
	</div>


		{% block body_content %}{% endblock %}

	</div>

</div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/589b15da1919dc09f9e542ac/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->


{% endblock %}