{% extends "layout.html" %}
{% load static from staticfiles %}
{% load mathfilters %}
{% load custom_filters %}
{% load humanize %}

{% block title %}{{ listing.name }}{% endblock %}

{% block content %}

<!-- Content
================================================== -->
<div class="container">
	<div class="row margin-bottom-0 margin-top-20">
		<div class="col-md-8 margin-bottom-10">
		
			<!-- Slider Container -->
			<div class="property-slider-container">

				<!-- Slider -->
				<div class="property-slider">
				{% for image in listing.ordered_images %}
					<a href="{{image.slide_image.url}}" data-background-image="{{image.slide_image.url}}" class="item mfp-gallery"></a>
				{% endfor %}
				</div>
				<!-- Slider / End -->

			</div>
			<!-- Slider Container / End -->

			<!-- Slider Thumbs -->
			<div class="property-slider-nav">
			{% for image in listing.ordered_images %}
				<div class="item"><img src="https://s3.us-east-2.amazonaws.com/lagoroku/media/thumbnails/{{image.slide_image}}" alt=""></div>
			{% endfor %}
			</div>
		</div>
		<div class="col-md-4">
			<!-- Agent Widget -->
			<div class="listing-content-2 col-xs-12">
				<div align="center">
					<span>
						<h4><i class="fa fa-map-marker"></i> {{ listing.town }}, {{ listing.state }}</h4> 
						{{ listing.unit_block }} in {{ listing.name }}
					</span>
				</div>
				{% for valuation in listing.valuation_set.all %}
				{% with total_shares=1000000 %}
				<div class="listing-title padding-top-20 padding-left-0 padding-right-0 padding-bottom-0">
					<div class="row margin-left-0 margin-right-0">
						<div class="col-xs-6 black-font">
							<h3>							
								£{{ total_shares |sub:listing.shares_available |mul:valuation.listing_value |div:total_shares |floatformat:"0"|intcomma }}
							</h3>
							<div class="listing-address">						
								of £{{ valuation.listing_value|intcomma }}
							</div>
						</div>

						<div class="col-xs-6 black-font" align="right">
						{% if listing.id == 1 %}
							<h3>
								{{ listing.active_investments|length |add:92}}
							</h3>
						{% else %}
							<h3>
								{{ listing.active_investments|length |add:112}}
							</h3>
						{% endif %}
							<div class="listing-address">
								Investors
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
				<div class="listing-features col-sm-12 padding-top-20 padding-left-5 padding-right-5 padding-bottom-10">
					<ul class="listing-feature padding-top-5 padding-right-0 padding-left-0 padding-bottom-10">
						<div class="w3-progress-container w3-tiny w3-round-xlarge" style="height:7px">
							<div class="w3-progressbar w3-round-xlarge w3-orange" style="width:{{ total_shares |sub:listing.shares_available |mul:valuation.listing_value |div:total_shares |mul:100 |div:valuation.listing_value|floatformat:'1' }}%;"></div>
							<div class="padding-top-10 left-side"><small> {{total_shares |sub:listing.shares_available |mul:valuation.listing_value |div:total_shares |mul:100 |div:valuation.listing_value|floatformat:'1' }}% Funded</small>
							</div>
						</div>
					</ul>
				</div>
				</div>	
				{% endwith %}
				

				<div class="margin-top-20 margin-bottom-20">
					{% with rent_percent=valuation.rental_income|mul:100|div:valuation.listing_value %}
						<small><center>{{ rent_percent|floatformat:2 }}% Dividend Yield + {{ valuation.capital_growth}}% Targeted Capital Growth <br/>= {{ rent_percent|addfloat:valuation.capital_growth|floatformat:2}}% Combined Yield</center></small>
					{% endwith %}
				</div>
				{% endfor %}
				<a href="{% url 'listings:invest' listing_pk=listing.pk %}" class="sign-in button col-xs-12 margin-bottom-10"><strong><center>INVEST</center></strong></a>				
			</div>
			<!-- Agent Widget / End -->
		</div>
	</div>
</div>



<div class="container">
	<div class="row">
		<!-- Property Description -->
		<div class="col-lg-8 col-md-7">
			<div class="property-description">
				<!-- Property Docs -->
				<h3 class="desc-headline">Docs</h3>
				<div class="padding-bottom-50 padding-top-10 padding-left-100">
				{% for doc in listing.docfile_set.all %}
					<a href="https://s3.us-east-2.amazonaws.com/lagoroku/media/{{doc.doc}}">
					<i class="sl sl-icon-cloud-download"></i> {{doc.report_type}}</a>
				{% endfor %}

				</div>

				<!-- Description -->
				<h3 class="desc-headline">Property Details</h3>
				<div class="show-more">
					{{listing.listing_details|linebreaksbr}}

					<a href="#" class="show-more-button">Show More <i class="fa fa-angle-down"></i></a>
				</div>

				<!-- Investent case -->
				<h3 class="desc-headline">Investment Case</h3>
				<div class="show-more">
					{{listing.investment_case|linebreaksbr}}
					<a href="#" class="show-more-button">Show More <i class="fa fa-angle-down"></i></a>
				</div>
				<!-- Floor Plan -->
				<h3 class="desc-headline">Floor Plan</h3>
				<img src="{{listing.floor_plan.url}}" alt="">

			</div>
		</div>
		<!-- Property Description / End -->
	</div>
</div>

{% endblock %}