{% extends "layout.html" %}
{% load static from staticfiles %}
{% load mathfilters %}
{% load humanize %}

{% block title %}{{ listing.name }}{% endblock %}

{% block content %}

<!-- Content
================================================== -->
<div class="container">
	<div class="row margin-bottom-50 margin-top-20">
		<div class="col-md-8">
		
			<!-- Slider Container -->
			<div class="property-slider-container">

				<!-- Slider -->
				<div class="property-slider">
					<a href="{% static 'images/single-property-01.jpg' %}" data-background-image="{% static 'images/single-property-01.jpg' %}" class="item mfp-gallery"></a>
					<a href="{% static 'images/single-property-01.jpg' %}" data-background-image="{% static 'images/single-property-01.jpg' %}" class="item mfp-gallery"></a>
					<a href="{% static 'images/single-property-01.jpg' %}" data-background-image="{% static 'images/single-property-01.jpg' %}" class="item mfp-gallery"></a>
					<a href="{% static 'images/single-property-01.jpg' %}" data-background-image="{% static 'images/single-property-01.jpg' %}" class="item mfp-gallery"></a>
					<a href="{% static 'images/single-property-01.jpg' %}" data-background-image="{% static 'images/single-property-01.jpg' %}" class="item mfp-gallery"></a>
					<a href="{% static 'images/single-property-01.jpg' %}" data-background-image="{% static 'images/single-property-01.jpg' %}" class="item mfp-gallery"></a>
				</div>
				<!-- Slider / End -->

			</div>
			<!-- Slider Container / End -->

			<!-- Slider Thumbs -->
			<div class="property-slider-nav">
				<div class="item"><img src="{% static 'images/single-property-01.jpg' %}" alt=""></div>
				<div class="item"><img src="{% static 'images/single-property-01.jpg' %}" alt=""></div>
				<div class="item"><img src="{% static 'images/single-property-01.jpg' %}" alt=""></div>
				<div class="item"><img src="{% static 'images/single-property-01.jpg' %}" alt=""></div>
				<div class="item"><img src="{% static 'images/single-property-01.jpg' %}" alt=""></div>
				<div class="item"><img src="{% static 'images/single-property-01.jpg' %}" alt=""></div>
			</div>

		</div>
		<div class="col-md-4">
			<!-- Agent Widget -->
			<div class="listing-content-2 col-sm-12">
				<div align="center">
					<span>
						<h3><i class="fa fa-map-marker"></i> {{ listing.town }}, {{ listing.state }}</h3> 
						<small>{{ listing.unit_block }} in {{ listing.name }}</small>
					</span>
				</div>
				<div class="listing-title padding-top-20 padding-left-0 padding-right-0 padding-bottom-0">
					<div class="col-sm-6 black-font">
						<h3>
							{% for value in listing.valuation_set.all %}
								<a href="single-property-page-1.html">₦{{ value.listing_value |mul:listing.shares_available 	|div:1000000|floatformat:"0"|intcomma }}</a>
							{% endfor %}
						</h3>
						<div class="listing-address">
						{% for value in listing.valuation_set.all %}
							of ₦{{ value.listing_value|intcomma }}
						{% endfor %}
						</div>
					</div>

					<div class="col-sm-6 black-font" align="right">
						<h3>
							<a href="single-property-page-1.html">485 {{ listing.valuation.pk}}lls</a>
						</h3>
						<div class="listing-address">
							Investors
						</div>
					</div>
				</div>
				
				<div class="listing-features-2 col-sm-12 padding-top-20 padding-left-0 padding-right-0 padding-bottom-10">
					<ul class="listing-feature padding-top-5 padding-right-0 padding-left-0 padding-bottom-10">
						<div class="w3-progress-container w3-tiny w3-round-xlarge" style="height:7px">
							{% for value in listing.valuation_set.all %}
								<div class="w3-progressbar w3-round-xlarge w3-orange" style="width:{{ value.listing_value |mul:listing.shares_available |div:1000000 |mul:100  |div:value.listing_value|floatformat:'0' |add:-100 |abs}}%;">
								</div>
								<div class="padding-top-10 left-side">
									<h4>{{ value.listing_value |mul:listing.shares_available |div:1000000 |mul:100  |div:value.listing_value|floatformat:'0' |add:-100 |abs }}%</h4><small> Funded</small>
								</div>
								<div class="right-side padding-top-10"> <h5>₦ {{value.listing_value |div:1000000 |mul:listing.shares_available 	|floatformat:"0" |intcomma}} </h5><small>Remaining</small>
								</div>
							{% endfor %}
						</div>
					</ul>
				</div>

				<div class="listing-footer col-sm-12 padding-top-10 padding-right-0 padding-left-0">
					{% for value in listing.valuation_set.all %}
						{% with rent_percent=value.rental_income|mul:100|div:value.listing_value %}
							<center><small><strong>{{ rent_percent|floatformat:"2" }}% </strong>Dividend Yield + <strong>{{ value.capital_growth}}% </strong>Targeted Capital Growth<br/>= <strong>{{ rent_percent|add:value.capital_growth|floatformat:"2" }}%</strong> Combined Yield</small></center>
						{% endwith %}
					{% endfor %}
					<a href="{% url 'listings:invest' listing_pk=listing.pk %}" id="sign-in" class="sign-in button col-md-12 margin-top-10"><strong><center>INVEST</center></strong></a>
				</div>
			</div>
			<!-- Agent Widget / End -->
		</div>
	</div>
</div>



<div class="container">
	<div class="row">

		<!-- Property Description -->
		<div class="col-lg-8 col-md-7">
			<div class="property-description">

				<!-- Main Features -->
				<ul class="property-main-features">
					<li>Area <span>1450 sq ft</span></li>
					<li>Rooms <span>4</span></li>
					<li>Bedrooms <span>2</span></li>
					<li>Bathrooms <span>1</span></li>
				</ul>


				<!-- Description -->
				<h3 class="desc-headline">Description</h3>
				<div class="show-more">
					<p>
						Ut euismod ultricies sollicitudin. Curabitur sed dapibus nulla. Nulla eget iaculis lectus. Mauris ac maximus neque. Nam in mauris quis libero sodales eleifend. Morbi varius, nulla sit amet rutrum elementum, est elit finibus tellus, ut tristique elit risus at metus. Sed fermentum, lorem vitae efficitur imperdiet, neque velit tristique turpis, et iaculis mi tortor finibus turpis. 
					</p>

					<p>
						 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra a. Aliquam pellentesque nibh et nibh feugiat gravida. Maecenas ultricies, diam vitae semper placerat, velit risus accumsan nisl, eget tempor lacus est vel nunc. Proin accumsan elit sed neque euismod fringilla. Curabitur lobortis nunc velit, et fermentum urna dapibus non. Vivamus magna lorem, elementum id gravida ac, laoreet tristique augue. Maecenas dictum lacus eu nunc porttitor, ut hendrerit arcu efficitur.
					</p>

					<p>
						Nam mattis lobortis felis eu blandit. Morbi tellus ligula, interdum sit amet ipsum et, viverra hendrerit lectus. Nunc efficitur sem vel est laoreet, sed bibendum eros viverra. Vestibulum finibus, ligula sed euismod tincidunt, lacus libero lobortis ligula, sit amet molestie ipsum purus ut tortor. Nunc varius, dui et sollicitudin facilisis, erat felis imperdiet felis, et iaculis dui magna vitae diam. Donec mattis diam nisl, quis ullamcorper enim malesuada non. Curabitur lobortis eu mauris nec vestibulum. Nam efficitur, ex ac semper malesuada, nisi odio consequat dui, hendrerit vulputate odio dui vitae massa. Aliquam tortor urna, tincidunt ut euismod quis, semper vel ipsum. Ut non vestibulum mauris. Morbi euismod, felis non hendrerit viverra, nunc sapien bibendum ligula, eget vehicula nunc dolor eu ex. Quisque in semper odio. Donec auctor blandit ligula. Integer id lectus non nibh vulputate efficitur quis at arcu.
					</p>

					<a href="#" class="show-more-button">Show More <i class="fa fa-angle-down"></i></a>
				</div>

				<!-- Details -->
				<h3 class="desc-headline">Details</h3>
				<ul class="property-features margin-top-0">
					<li>Building Age: <span>2 Years</span></li>
					<li>Parking: <span>Attached Garage</span></li>
					<li>Cooling: <span>Central Cooling</span></li>
					<li>Heating: <span>Forced Air, Gas</span></li>
					<li>Sewer: <span>Public/City</span></li>
					<li>Water: <span>City</span></li>
					<li>Exercise Room: <span>Yes</span></li>
					<li>Storage Room: <span>Yes</span></li>
				</ul>


				<!-- Features -->
				<h3 class="desc-headline">Features</h3>
				<ul class="property-features checkboxes margin-top-0">
					<li>Air Conditioning</li>
					<li>Swimming Pool</li>
					<li>Central Heating</li>
					<li>Laundry Room</li>
					<li>Gym</li>
					<li>Alarm</li>
					<li>Window Covering</li>
					<li>Internet</li>
				</ul>
			</div>
		</div>
		<!-- Property Description / End -->


		<!-- Sidebar -->
		<div class="col-lg-4 col-md-5">
			<div class="sidebar sticky right">

				<!-- Widget -->
				<div class="widget margin-bottom-35">
					<button class="widget-button"><i class="sl sl-icon-printer"></i> Print</button>
					<button class="widget-button save" data-save-title="Save" data-saved-title="Saved"><span class="like-icon"></span></button>
				</div>
				<!-- Widget / End -->


				<!-- Widget -->
				<div class="widget">
					<h3 class="margin-bottom-35">Featured Properties</h3>

					<div class="listing-carousel outer">
						<!-- Item -->
						<div class="item">
							<div class="listing-item compact">

								<a href="#" class="listing-img-container">

									<div class="listing-badges">
										<span class="featured">Featured</span>
										<span>For Sale</span>
									</div>

									<div class="listing-img-content">
										<span class="listing-compact-title">Eagle Apartments <i>$275,000</i></span>

										<ul class="listing-hidden-content">
											<li>Area <span>530 sq ft</span></li>
											<li>Rooms <span>3</span></li>
											<li>Beds <span>1</span></li>
											<li>Baths <span>1</span></li>
										</ul>
									</div>

									<img src="images/listing-01.jpg" alt="">
								</a>

							</div>
						</div>
						<!-- Item / End -->

						<!-- Item -->
						<div class="item">
							<div class="listing-item compact">

								<a href="#" class="listing-img-container">

									<div class="listing-badges">
										<span class="featured">Featured</span>
										<span>For Sale</span>
									</div>

									<div class="listing-img-content">
										<span class="listing-compact-title">Selway Apartments <i>$245,000</i></span>

										<ul class="listing-hidden-content">
											<li>Area <span>530 sq ft</span></li>
											<li>Rooms <span>3</span></li>
											<li>Beds <span>1</span></li>
											<li>Baths <span>1</span></li>
										</ul>
									</div>

									<img src="images/listing-02.jpg" alt="">
								</a>

							</div>
						</div>
						<!-- Item / End -->

						<!-- Item -->
						<div class="item">
							<div class="listing-item compact">

								<a href="#" class="listing-img-container">

									<div class="listing-badges">
										<span class="featured">Featured</span>
										<span>For Sale</span>
									</div>

									<div class="listing-img-content">
										<span class="listing-compact-title">Oak Tree Villas <i>$325,000</i></span>

										<ul class="listing-hidden-content">
											<li>Area <span>530 sq ft</span></li>
											<li>Rooms <span>3</span></li>
											<li>Beds <span>1</span></li>
											<li>Baths <span>1</span></li>
										</ul>
									</div>

									<img src="images/listing-03.jpg" alt="">
								</a>

							</div>
						</div>
						<!-- Item / End -->
					</div>

				</div>
				<!-- Widget / End -->

				<!-- Widget -->
				<div class="widget margin-bottom-40">
					<h3 class="margin-top-0 margin-bottom-35">Find New Home</h3>

					<!-- Row -->
					<div class="row with-forms">
						<!-- Status -->
						<div class="col-md-12">
							<select data-placeholder="Any Status" class="chosen-select-no-single" >
								<option>Any Status</option>	
								<option>For Sale</option>
								<option>For Rent</option>
							</select>
						</div>
					</div>
					<!-- Row / End -->


					<!-- Row -->
					<div class="row with-forms">
						<!-- Type -->
						<div class="col-md-12">
							<select data-placeholder="Any Type" class="chosen-select-no-single" >
								<option>Any Type</option>	
								<option>Apartments</option>
								<option>Houses</option>
								<option>Commercial</option>
								<option>Garages</option>
								<option>Lots</option>
							</select>
						</div>
					</div>
					<!-- Row / End -->


					<!-- Row -->
					<div class="row with-forms">
						<!-- States -->
						<div class="col-md-12">
							<select data-placeholder="All States" class="chosen-select" >
								<option>All States</option>	
								<option>Alabama</option>
								<option>Alaska</option>
								<option>Arizona</option>
								<option>Arkansas</option>
								<option>California</option>
								<option>Colorado</option>
								<option>Connecticut</option>
								<option>Delaware</option>
								<option>Florida</option>
								<option>Georgia</option>
								<option>Hawaii</option>
								<option>Idaho</option>
								<option>Illinois</option>
								<option>Indiana</option>
								<option>Iowa</option>
								<option>Kansas</option>
								<option>Kentucky</option>
								<option>Louisiana</option>
								<option>Maine</option>
								<option>Maryland</option>
								<option>Massachusetts</option>
								<option>Michigan</option>
								<option>Minnesota</option>
								<option>Mississippi</option>
								<option>Missouri</option>
								<option>Montana</option>
								<option>Nebraska</option>
								<option>Nevada</option>
								<option>New Hampshire</option>
								<option>New Jersey</option>
								<option>New Mexico</option>
								<option>New York</option>
								<option>North Carolina</option>
								<option>North Dakota</option>
								<option>Ohio</option>
								<option>Oklahoma</option>
								<option>Oregon</option>
								<option>Pennsylvania</option>
								<option>Rhode Island</option>
								<option>South Carolina</option>
								<option>South Dakota</option>
								<option>Tennessee</option>
								<option>Texas</option>
								<option>Utah</option>
								<option>Vermont</option>
								<option>Virginia</option>
								<option>Washington</option>
								<option>West Virginia</option>
								<option>Wisconsin</option>
								<option>Wyoming</option>
							</select>
						</div>
					</div>
					<!-- Row / End -->


					<!-- Row -->
					<div class="row with-forms">
						<!-- Cities -->
						<div class="col-md-12">
							<select data-placeholder="All Cities" class="chosen-select" >
								<option>All Cities</option>
								<option>New York</option>
								<option>Los Angeles</option>
								<option>Chicago</option>
								<option>Brooklyn</option>
								<option>Queens</option>
								<option>Houston</option>
								<option>Manhattan</option>
								<option>Philadelphia</option>
								<option>Phoenix</option>
								<option>San Antonio</option>
								<option>Bronx</option>
								<option>San Diego</option>
								<option>Dallas</option>
								<option>San Jose</option>
							</select>
						</div>
					</div>
					<!-- Row / End -->


					<!-- Row -->
					<div class="row with-forms">

						<!-- Min Area -->
						<div class="col-md-6">
							<select data-placeholder="Beds" class="chosen-select-no-single" >
								<option label="blank"></option>	
								<option>Beds (Any)</option>	
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>

						<!-- Max Area -->
						<div class="col-md-6">
							<select data-placeholder="Baths" class="chosen-select-no-single" >
								<option label="blank"></option>	
								<option>Baths (Any)</option>	
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>

					</div>
					<!-- Row / End -->

					<br>

					<!-- Area Range -->
					<div class="range-slider">
						<label>Area Range</label>
						<div id="area-range" data-min="0" data-max="1500" data-unit="sq ft"></div>
						<div class="clearfix"></div>
					</div>

					<br>
					
					<!-- Price Range -->
					<div class="range-slider">
						<label>Price Range</label>
						<div id="price-range" data-min="0" data-max="400000" data-unit="$"></div>
						<div class="clearfix"></div>
					</div>



					<!-- More Search Options -->
					<a href="#" class="more-search-options-trigger margin-bottom-10 margin-top-30" data-open-title="Additional Features" data-close-title="Additional Features"></a>

					<div class="more-search-options relative">

						<!-- Checkboxes -->
						<div class="checkboxes one-in-row margin-bottom-10">
					
							<input id="check-2" type="checkbox" name="check">
							<label for="check-2">Air Conditioning</label>

							<input id="check-3" type="checkbox" name="check">
							<label for="check-3">Swimming Pool</label>

							<input id="check-4" type="checkbox" name="check" >
							<label for="check-4">Central Heating</label>

							<input id="check-5" type="checkbox" name="check">
							<label for="check-5">Laundry Room</label>	


							<input id="check-6" type="checkbox" name="check">
							<label for="check-6">Gym</label>

							<input id="check-7" type="checkbox" name="check">
							<label for="check-7">Alarm</label>

							<input id="check-8" type="checkbox" name="check">
							<label for="check-8">Window Covering</label>
					
						</div>
						<!-- Checkboxes / End -->

					</div>
					<!-- More Search Options / End -->

					<button class="button fullwidth margin-top-30">Search</button>


				</div>
				<!-- Widget / End -->

			</div>
		</div>
		<!-- Sidebar / End -->

	</div>
</div>

<article>
	<h2>{{ listing.name }}</h2>
	{{ listing.description }}

	<section>
		{% for report in listing.report_set.all %}
			<h3>
				<a href="{% url 'listings:report' listing_pk=report.listing.pk report_pk=report.pk %}">{{ report.title }}</a>
			</h3>
			{{ report.overview }}
		{% endfor %}
	</section>
</article>
{% endblock %}