{% extends "layout.html" %}
{% load static from staticfiles %}
{% load mathfilters %}
{% load custom_filters %}
{% load humanize %}

{% block title %} Lagopoly | Crowdfunding Property Investments  {% endblock%}

{% block content %}

<!-- Titlebar
================================================== -->
<div class="parallax" style="background-position: 0% 60%;" data-background="{% static 'images/family-house.jpg' %}" data-color="fa5b0f" data-color-opacity="0.35" data-img-width="700" data-img-height="600">
	<div class="parallax-content">
		<div class="container">
			<div class="property-parallax">
				<h1>Properties</h1>
			</div>
		</div>
	</div>
</div>

<!-- Property listings
================================================== -->
<section class="fullwidth margin-top-50 padding-top-10 padding-bottom-55" data-background-color="ffff">
<div class="container">
	<div class="ro">
		<div class="col-md-12">
		</div>
		
		<!-- Carousel -->
		<div class="col-md-">
			<div class="carousel">
				{% for listing in listings %}
				
				<div class="carousel-item">
					<div class="listing-item">
						<a href="{% url 'listings:detail' pk=listing.pk %}">
							<div class="listing-img-container">
								<div class="listing-badges-2">
									<span class="featured">{{ listing.fund_status | upper }}</span>
									<span><i class="fa fa-map-marker"></i> {{ listing.town }}, {{ listing.state }}<br/> {{ listing.unit_block }} in {{ listing.name}}</span>
								</div>

								<img class="margin-top-48" src="{% static 'images/listing-03.jpg' %}" alt="">
							</div>
						</a>
						{% for valuation in listing.active_valuations %}
						{% with total_shares=1000000 %}
						<div class="listing-content-2 padding-right-0 padding-left-0">
							<div class="row margin-left-0 margin-right-0">
								<div class="col-xs-6 black-font">
									<h3>							
										<a href="{% url 'listings:detail' pk=listing.pk %}">£{{ total_shares |sub:listing.shares_available |mul:valuation.listing_value |div:total_shares |floatformat:"0"|intcomma }}</a>
									</h3>
									<div class="listing-address">						
										of £{{ valuation.listing_value|intcomma }}
									</div>
								</div>

								<div class="col-xs-6 black-font" align="right">
									<h3>
										<a href="single-property-page-1.html">{{ listing.active_investments|length }}</a>
									</h3>
									<div class="listing-address">
										Investors
									</div>
								</div>
							</div>
							
							<div class="listing-features col-sm-12 padding-top-20 padding-left-5 padding-right-5 padding-bottom-10 margin-bottom-20">
								<ul class="listing-feature padding-top-5 padding-right-0 padding-left-0 padding-bottom-10">
									<div class="w3-progress-container w3-tiny w3-round-xlarge" style="height:7px">
	  									<div class="w3-progressbar w3-round-xlarge w3-orange" style="width:{{ total_shares |sub:listing.shares_available |mul:valuation.listing_value |div:total_shares |mul:100 |div:valuation.listing_value|floatformat:'1' }}%;"></div>
	  									<div class="padding-top-10"><small> {{total_shares |sub:listing.shares_available |mul:valuation.listing_value |div:total_shares |mul:100 |div:valuation.listing_value|floatformat:'1' }}% Funded</small>
	  									</div>
									</div>
								</ul>
							</div>	
							<div class="margin-bottom-20">
								{% with rent_percent=valuation.rental_income|mul:100|div:valuation.listing_value %}
									<small><center>{{ rent_percent|floatformat:2 }}% Dividend Yield + {{ valuation.capital_growth}}% Targeted Capital Growth <br/>= {{ rent_percent|addfloat:valuation.capital_growth|floatformat:2}}% Combined Yield</center></small>
								{% endwith %}
							</div>

						</div>
						{% endwith %}
					{% endfor %}
						<!-- Listing Item / End -->

					</div>
				</div>
				<!-- Listing Item / End -->

				{% endfor %}

				<div class="carousel-item">
					<div class="listing-item">
						<div class="listing-img-container">

							<div class="listing-badges-2">
								<span><i class="fa fa-map-marker"></i> Banana Island, Ikoyi, Lagos<br/> 12 Flats in Ocean Parade Towers</span>
							</div>

							<img class="margin-top-48" src="{% static 'images/listing-03.jpg' %}" alt="">
						</div>
						
						<div class="listing-content-2 col-sm-12 padding-right-0 padding-left-0">
							<div class="row margin-left-0 margin-right-0">
								<div class="listing-title padding-left-0 padding-right-0 padding-bottom-0">
									<div class="col-xs-7">
										<h4>
											<a href="single-property-page-1.html">£125,000</a>
										</h4>
										<div class="listing-address">Current Valuation</div>
									</div>

									<div class="col-xs-5" align="right">
										<h4>
											<a href="single-property-page-1.html">464</a>
										</h4>
										<div class="listing-address">
											Investors
										</div>
									</div>
								</div>
							</div>
							
							<div class="listing-features col-sm-12 padding-top-20 padding-left-5 padding-right-5 padding-bottom-10">
								<ul class="listing-features padding-top-5 padding-right-5 padding-left-5 padding-bottom-10">
									<center>
										<small>Lowest Selling Share Price <strong>12.50p (+ 9.35%)</strong></small>
									</center>
								</ul>
							</div>

							<div class="listing-footer col-sm-12 padding-top-10 padding-right-5 padding-left-5">
								<small><center>10.4% Dividend Yield + 5.4% Targeted Capital Growth <br/>= 15.8% Combined Yield</center></small>
							</div>

						</div>
						<!-- Listing Item / End -->

					</div>
				</div>
				<!-- Listing Item / End -->
			</div>
		</div>
		<!-- Carousel / End -->

	</div>
</div>
</section>

{% endblock %}