{% extends "layout.html" %}
{% load static from staticfiles %}
{% load mathfilters %}
{% load humanize %}
{% load js %}

{% block title %}{{ listing.name }}{% endblock %}

{% block content %}

<!-- Content
================================================== -->
<div class="container">
	<div class="row margin-bottom-50 margin-top-20">
		<div class="col-md-offset-1 col-md-6 margin-bottom-50 padding-bottom-100">
			<div id="error_div" class="notification warning closeable hidden"></div>
			{% if messages %}
				{% for message in messages %}
					{% if message.tags == "success" %}
					<div class="notification success closeable">
						<p>{{message}}</p>
						Monitor all your investments from your <a style="text-decoration: underline;" href="{% url 'investors:home' %}">dashboard</a>
						<a class="close" href="#"></a>
					</div>
					{% elif message.tags != "success" %}
						<div class="notification {{message.tags}} closeable">
							<p>{{message|linebreaksbr}}</p>
							<a class="close" href="#"></a>
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
			<form method="post" action="" onsubmit="return validate_amount()">
				{% csrf_token %}
    			{{ form.as_p }}
				<div class="">
					<div align="center">
						<span>
							<h3><i class="fa fa-map-marker"></i> {{ listing.town }}, {{ preinvestment.listing.state }}</h3> 
							<h5>{{ listing.unit_block }} in {{ listing.name }}</h5>
						</span>
					</div>
					<div class="row listing-title padding-top-20 padding-left-0 padding-right-0 padding-bottom-0">
						<div>
							<div class="col-xs-4 black-font padding-top-10 padding-right-0">
								Amount <i class="tip" data-tip-content="How much are you willing to invest?"></i>
							</div>
							<div class="col-xs-8 black-font">
								<div class="select-input disabled-first-option" align="right">
									<input id="investment_amount" oninput="calculate_transaction_fees()" type="text" data-unit="GBP" required>
								</div>
							</div>
						</div>
						<div class="fixed-size">
							<div class="col-xs-6 black-font">Unit Shares</div>
							<div class="col-xs-6 black-font" id="requested_shares" align="right"></div>
						</div>
						<div class="fixed-size">
							<div class="col-xs-6 black-font">Share Price</div>
							<div class="col-xs-6 black-font" id="share_price" align="right"></div>
						</div>
						<div class="fixed-size">
							<div class="col-xs-6 black-font">Investment Cost</div>
							<div class="col-xs-6 black-font" id="investment_cost" align="right"></div>
						</div>
						<div class="fixed-size">
							<div class="col-xs-6 black-font">Transaction Cost</div>
							<div class="col-xs-6 black-font" id="transaction_cost" align="right">
								
							</div>
						</div>
					</div>

					<div>
						<hr>
					</div>

					<div class="row">
						<div class="col-xs-6 black-font"><strong>Total Cost</strong></div>
						<div class="col-xs-6 black-font" align="right" id="id_total" ></div>
					</div>

					<div class="listing-footer col-xs-12 padding-top-10 padding-right-0 padding-left-0">
						<strong><input type="submit" class="success-button button col-xs-12 margin-top-10" value="CONFIRM INVESTMENT" /></strong>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-offset-1 col-md-4">
			<!-- Agent Widget -->
			<div class="listing-content-2">
				<div>
					<div id="listing-wrapper">
						<div id="image-wrapper" class="">
							<img src="/media/{{listing.listingimage_set.first.slide_image}}" alt="">
						</div>
					</div>
				</div>
				<!-- Logo Carousel -->
				<div align="center" class="row margin-left-0 padding-top-40 padding-bottom-20">
					<div class="col-xs-4">
						<!-- Icon Box -->
						<div>
							<div class="listing-wrapper-box-icon no-bg">
								<i class="im im-icon-Security-Block"></i>
								<h5><strong>Secure</strong></h5>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<!-- Icon Box -->
						<div>
							<div class="listing-wrapper-box-icon no-bg">
								<i class="im im-icon-Running"></i>
								<h5><strong>Get Ahead</strong></h5>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<!-- Icon Box -->
						<div>
							<div class="listing-wrapper-box-icon no-bg">
								<i class="im im-icon-Idea"></i>
								<h5><strong>Expertise</strong></h5>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Logo Carousel / End -->

				<div class="style-2 margin-left-0 padding-left-20 padding-right-20">

					<h4 class=""><strong>FAQs</strong></h4>

					<!-- Toggle 1 -->
					<div class="toggle-wrap">
						<span class="trigger trigger-small "><a href="#"> What does Lagopoly do?<i class="sl sl-icon-plus"></i></a></span>
						<div class="toggle-container">
							<p>Lagopoly is a stock exchange tailored to the property market, allowing investors to explore expertly selected property assets, diversify their portfolio, and manage their market activity at the click of a button.

							Property investment is a popular choice with a proven track record of generating considerable ROI over time, however it has been plagued with several barriers to entry and sustainability. Our aim is to bring accessibility, simplicity and security to this market.

							Lagopoly allows you to invest in properties, earn monthly income from rent and sell your investment on the Lagopoly marketplace at a price and time of your choosing</p>
						</div>
					</div>

					<!-- Toggle 2 -->
					<div class="toggle-wrap">
						<span class="trigger trigger-small"><a href="#"> When are monthly earnings paid?<i class="sl sl-icon-plus"></i></a></span>
						<div class="toggle-container">
							<p>
								Rental earnings for any given month will be paid on the 3rd of the next month, directly into your Lagopoly account. If the 3rd of the month falls on the weekend or a bank holiday, your earnings will be paid on the following business day.
							</p>
						</div>
					</div>

					<!-- Toggle 2 -->
					<div class="toggle-wrap">
						<span class="trigger trigger-small"><a href="#"> Say something goes wrong with Lagopoly?<i class="sl sl-icon-plus"></i></a></span>
						<div class="toggle-container">
							<p>
							Lagopoly has taken every step to ensure our process is well thought out and our investors’ money is in safe hands at all time. Our team of experts conduct extensive due diligence on each asset we make available to the crowd. Each asset is vetted against our high standards and we have taken the necessary precautions with regards to insurances on all of our assets. Each investor's money is held in a ‘Special Purpose Vehicle’ which means that every investment is independently secured, and separated from the liabilities of lagopoly.

							A director will be appointed in line with terms set out in the shareholders agreement. The director will administer the requirements set out in the shareholders agreement and oversee the repatriation of funds to investors.
							</p>
						</div>
					</div>

					<!-- Toggle 2 -->
					<div class="toggle-wrap">
						<span class="trigger trigger-small"><a href="#">I am based outside Nigeria, Can I be an investor?<i class="sl sl-icon-plus"></i></a></span>
						<div class="toggle-container">
							<p>
								Our aim is to open up Nigeria's property market to all. We cater to investors from the UK, US, Canada, you name it. Our technology bridges the gap and provides you with the data you need to make the right decisions and increase your earnings. We encourage all interested investors to register as this would allow us to improve our demographic specific services.
							</p>
						</div>
					</div>

					<!-- Toggle 2 -->
					<div class="toggle-wrap">
						<span class="trigger trigger-small"><a href="#"> How does Lagopoly make money?<i class="sl sl-icon-plus"></i></a></span>
						<div class="toggle-container">
							<p>
								A one-time 2% fee per investment to cover the overheads involved in setting up your client account. 10.5% (+VAT) is taken from the gross rental income to cover advertising, letting and management of the properties.
							</p>
						</div>
					</div>
				</div>

			</div>
			<!-- Agent Widget / End -->
			<div>
				<div align="center" class="padding-top-40 padding-left-20 padding-bottom-20">
					<h3>Having difficulties?</h3>
					<h5>Email us at ask@lagopoly.com</h5>
					<h5>Call us on +44 (0)74 5327 8499,
					<h5>between 8.30am and 5.30pm, Monday to Friday</h5>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	function validate_amount() {
		var amount = document.getElementById('investment_amount').value;
		if (amount%500!=0){
			error_text = "Warning: Investment is only permissible in multiples of £500";
			document.getElementById("error_div").classList.toggle("hidden");
			document.getElementById("error_div").innerHTML = error_text;
			return false;
		}
		
	}

	function calculate_transaction_fees() {

		var amount = document.getElementById('investment_amount').value;

		if (amount%500==0){
					
			var transactionCost = amount * 0.02;
			document.getElementById('transaction_cost').textContent = "£"+transactionCost;

			var DisplaysharePrice = {{listing.valuation_set.first.listing_value |div:1000000 |mul:100  |floatformat:"2" | js }};
			var sharePrice = {{listing.valuation_set.first.listing_value |div:1000000 | js }}
			document.getElementById('share_price').textContent = DisplaysharePrice+"p";
		  	
		  	var requestedShares = parseInt(amount / sharePrice);

		  	document.getElementById('requested_shares').textContent = requestedShares;
		  	var investmentCost = requestedShares * sharePrice;
		  	var roundInvestmentCost = round(investmentCost, 2).toFixed(2);
		  	document.getElementById('investment_cost').textContent = "£"+roundInvestmentCost;

		  	var totalAmount = +roundInvestmentCost + +transactionCost;
		  	document.getElementById('id_total').textContent =  "£"+round(totalAmount, 2).toFixed(2);

		  	document.getElementById('id_investment_cost').value = roundInvestmentCost;
		  	document.getElementById('id_unit_price').value = sharePrice;
		  	document.getElementById('id_unit_shares').value = requestedShares;
		  	document.getElementById('id_transaction_cost').value = transactionCost;
		  	document.getElementById('id_total_cost').value = round(totalAmount, 2).toFixed(2);
		}
	}

	function round(value, precision) {
    	var multiplier = Math.pow(10, precision || 0);
    	return Math.round(value * multiplier) / multiplier;
	}

</script>
{% endblock %}