{% extends "layout.html" %}
{% load bootstrap3 %}

{% block title %}Sign Up | {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
	<div class="col-md-6 col-md-offset-3 margin-bottom-150">
		<center><h1>Sign Up</h1></center>
		<center><h5>New Users</h5></center>
	    <form method="POST" class="padding-top-20">
	        {% csrf_token %}
	        {% if messages %}
				{% for message in messages %}
					{% if message.tags == "error" %}
					<div class="notification {{message.tags}} closeable col-md-12">
						<p>{{message|linebreaksbr}}</p>
						<a class="close" href="#"></a>
					</div>
					{% endif %}
				{% endfor %}
			{% endif %}

	        {% if form.non_field_errors %}
				{% for error in form.non_field_errors %}
		     		<div class="notification error closeable">
						<p>{{error|escape}}</p>
						<a class="close" href="#"></a>
					</div>
		        {% endfor %}
			{% endif %}

			{% for field in form %}
				{% if "password" not in field.name %}
					<div class="col-md-6">
				        {% if field.errors %}
				            {% for error in field.errors %}
					            <ul class="error-msg error">
					                <li><strong>{{ error|escape }}</strong></li>
					            </ul>
				            {% endfor %}
				        {% endif %}

				        {{field}}
				    </div>
				{% else %}
					<div class="col-md-12">
				        {% if field.errors %}
				            {% for error in field.errors %}
					            <ul class="error-msg error">
					                <li><strong>{{ error|escape }}</strong></li>
					            </ul>
				            {% endfor %}
				        {% endif %}

				        {{field}}
				    </div>
			    {% endif %}
		    {% endfor %}

		    <div class="g-recaptcha col-md-12 margin-bottom-10" data-sitekey="6LfyhyYUAAAAAFihJAaVSO-n9n1VOnnk3EuFujPQ"></div>       
	        <div class="col-md-12"><input type="submit" value="Sign Up" class="btn btn-default"></div>
	    </form>
	</div>
</div>

<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}