{% extends "layout.html" %}
{% load bootstrap3 %}

{% block title %}Sign Up | {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
	<div class="col-md-4 col-md-offset-4 margin-bottom-150">
		<center><h1>Sign Up</h1></center>
		<center><h5>New Users</h5></center>
	    <form method="POST">
	        {% csrf_token %}
	        {% if form.non_field_errors %}
				{% for error in form.non_field_errors %}
		     		<div class="notification error closeable">
						<p>{{form.non_field_errors|escape}}</p>
						<a class="close" href="#"></a>
					</div>
		        {% endfor %}
			{% endif %}

			{% for field in form %}
		        {% if form.errors %}
		            {% for error in field.errors %}
			            <ul class="error-msg">
			                <li><strong>{{ error|escape }}</strong></li>
			            </ul>
		            {% endfor %}
		        {% endif %}

		        {{ field.label_tag }} 

		        {{ field }}
		        {% if field.help_text %}
		        	<em>{{ field.help_text|safe }}</em>
		        {% endif %}
		    {% endfor %}
	        <input type="submit" value="Sign Up" class="btn btn-default">
	    </form>
	</div>
</div>
{% endblock %}