{% extends "layout.html" %}
{% load static from staticfiles %}

{% block content %}
<!-- Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-md-8 margin-top-20" style="margin-left: 20%; margin-right: 20%;">
			<h2><center>{{ page_title }}</center></h2>
			<form method='POST' enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" class="btn btn-primary" value="Save">
			</form>
			<form action="/file-upload" class="dropzone" ></form>
		</div>
	</div>
</div>


<script type="text/javascript">
	window.onload = function(e){ 
    document.getElementById('id_author').value = {{author}};
}
</script>

{% endblock %}
