{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %} Lagopoly | {{dashboard.investment}} {% endblock %}

{% block content %}

<!-- Titlebar
================================================== -->
<div class="container margin-top-30 padding-bottom-60">
<!-- Widget -->
	<div class="col-md-3">
		<div class="sidebar left">
			
			<div class="my-account-nav-container padding-bottom-0">
				
				<div>
					<div class="my-profile">
						<div align="center" class=" padding-bottom-10">
							<h2>₦0.00</h2>
							<div>Available Funds</div>
							<div><h6>Add Funds | Make Withdrawal</h6></div>
						</div>
					</div>
				</div>
				<hr/>
				
				<div class="padding-top-0">
					<div class="my-account-nav-container padding-bottom-0">
						
						<ul class="my-account-nav padding-bottom-0">
							<div class="row current margin-bottom-5 padding-left-10" onclick="location.href='#';" style="cursor: pointer;">
								<li><i class="sl sl-icon-speedometer"></i>&nbsp;&nbsp;Dashboard</li>
							</div>
							<div class="row margin-bottom-5 padding-left-10" onclick="location.href='#';" style="cursor: pointer;">
								<li><i class="fa fa-database"></i>&nbsp;&nbsp;Financial Statement</li>
							</div>
							<div class="row margin-bottom-5 padding-left-10" onclick="location.href='#';" style="cursor: pointer;">
								<li><i class="fa fa-file-word-o"></i>&nbsp;&nbsp;Investment Documents</li>
							</div>
							<div class="row margin-bottom-5 padding-left-10" onclick="location.href='#';" style="cursor: pointer;">
								<li><i class="sl sl-icon-credit-card"></i>&nbsp;&nbsp;Bank Account</li>
							</div>
							<div class="row margin-bottom-5 padding-left-10" onclick="location.href='#';" style="cursor: pointer;">
								<li><i class="sl sl-icon-settings"></i>&nbsp;&nbsp;Settings</li>
							</div>
							<div class="row margin-bottom-5 padding-left-10" onclick="location.href='#';" style="cursor: pointer;">
								<li><i class="sl sl-icon-shield"></i>&nbsp;&nbsp;Security</li>
							</div>
						</ul>
					</div>

				</div>

			</div>

		</div>
	</div>

	<div class="col-md-9">
		<center><h2 class="headline margin-top-0 margin-bottom-10">Your Account</h2></center>
		<center><h5 class="headline margin-top-0 margin-bottom-20">Stay on top of your properties</h5></center>
		
		<div class="style-2">
			<div class="row">
				<!-- Dash Toggle -->
				<div class="col-xs-4 padding-left-0 padding-right-5">
					<div class="toggle-wrap dashbox">
						
						<span class="trigger trigger-dashbox">
							<center>
								<a><h4>₦0.00</h4>
								Net transactions <i class="sl sl-icon-arrow-down-circle"></i></a>
							</center>
						</span>
						
						<div class="toggle-container">
							<table class="dashtable margin-top-10">
								<tr>
									<td class="padding-top-10">Deposits:</td>
									<td class="padding-top-10 pull-right">₦0.00</td>
								</tr>
								<tr>
									<td>Withdrwals:</td>
									<td class="pull-right">₦0.00</td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<div class="col-xs-4 padding-left-0 padding-right-5">			
					<div class="toggle-wrap dashbox">
					
					<span class="trigger trigger-dashbox">
						<center>
							<a><h4>₦0.00</h4>
							Growth <i class="sl sl-icon-arrow-down-circle"></i></a>
						</center>
					</span>
					
					<div class="toggle-container">
						<table class="dashtable margin-top-10">
							<tr>
								<td class="padding-top-10">Dividends Received:</td>
								<td class="padding-top-10 pull-right">₦0.00</td>
							</tr>
							<tr>
								<td>Latest Valuation Gains:</td>
								<td class="pull-right">₦0.00</td>
							</tr>
							<tr>
								<td>Realised Capital Gains:</td>
								<td class="pull-right">₦0.00</td>
							</tr>
						</table>
					</div>
					</div>
				</div>

				<div class="col-xs-4 padding-left-0 padding-right-0">
					<div class="toggle-wrap dashbox">
					
					<span class="trigger trigger-dashbox">
						<center>
							<a><h4>₦0.00</h4>
							Portfolio <i class="sl sl-icon-arrow-down-circle"></i></a>
						</center>
					</span>
					
					<div class="toggle-container">
						<table class="dashtable margin-top-10">
							<tr>
								<td class="padding-top-10">Available Funds:</td>
								<td class="padding-top-10 pull-right">₦0.00</td>
							</tr>
							<tr>
								<td>Committed Funds:</td>
								<td class="pull-right">₦0.00</td>
							</tr>
							<tr>
								<td>Latest Valuation:</td>
								<td class="pull-right">₦0.00</td>
							</tr>
						</table>
					</div>
					</div>
				</div>
			</div>
			<!-- Tab Start-->

			<div class="row margin-top-50">
				
				<!-- Tabs Navigation -->
					<ul class="tabs-nav">
						<li class="active"><a href="#tab1a"><i class="sl sl-icon-clock"></i> Pending Properties</a></li>
						<li><a href="#tab2a"><i class="sl sl-icon-home"></i> Let Properties</a></li>
						<li><a href="#tab3a"><i class="sl sl-icon-eye"></i> Watchlist</a></li>
					</ul>

					<!-- Tabs Content -->
					<div class="tabs-container">
						<div class="tab-content" id="tab1a">
							<table class="basic-table-dash ">
							<tr>
								<th>Property</th>
								<th>Shares</th>
								<th>Valuation per share</th>
								<th>Monthly revenue</th>
							</tr>
							{% for listing in dashboard %}
								{% for investment in listing.investment_set.all %}
									{% if investment.investor == request.user and listing.fund_status != "funded" %}
									<tr>
										<td>
											{{listing.address}}, {{listing.town}}, {{listing.state}}
										</td>
										<td>
											{{investment.unit_shares}}
										</td>
										<td>
											₦ {{investment.unit_price}}
										</td>
										{% for valuation in listing.valuation_set.all %}
										<td>
											₦ {{valuation.rental_income}}
										</td>
										{% endfor %}
									</tr>
									{% endif %}
								{% endfor %}
							{% endfor %}
						</table>

						{% if not pre_or_funding %}
						<div>
						<table class="margin-top-10">
							<tr>
								<td class="col-md-8"><div>You have no properties in the funding or pre-fund stage. </div></td>
							</tr>
						</table>
						</div>
						{% endif %}
						</div>

						<div align="left" class="tab-content" id="tab2a">
						<table class="basic-table-dash ">
							<tr>
								<th>Property</th>
								<th>Shares</th>
								<th>Valuation per share</th>
								<th>Monthly revenue</th>
							</tr>
							{% for listing in dashboard %}
								{% for investment in listing.investment_set.all %}
									{% if investment.investor == request.user and listing.fund_status == "funded" %}
									<tr>
										<td>
											{{listing.address}}, {{listing.town}}, {{listing.state}}
										</td>
										<td>
											{{investment.unit_shares}}
										</td>
										<td>
											₦ {{investment.unit_price}}
										</td>
										{% for valuation in listing.valuation_set.all %}
										<td>
											₦ {{valuation.rental_income}}
										</td>
										{% endfor %}
									</tr>
									{% endif %}
								{% endfor %}
							{% endfor %}
						</table>

						{% if not funded %}
						<div>
						<table class="margin-top-10">
							<tr>
								<td class="col-md-8"><div> You have no let properties yet. </div></td>
							</tr>
						</table>
						</div>
						{% endif %}
						
						</div>

						<div class="tab-content" id="tab3a">Suspendisse ut laoreet massa. Etiam vel dolor eu quam varius tempor eu eu mi. Duis auctor interdum ligula ut faucibus. Vivamus lorem ipsum dolor sit amet in tincidunt augue. Aenean at ligula justo, sed gravida metus. </div>
					</div>
			</div>

		</div>



	</div>
</div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/589b15da1919dc09f9e542ac/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->


{% endblock %}