{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %} Lagopoly | Privacy {% endblock %}

{% block content %}

<!-- Titlebar
================================================== -->
<div id class="parallax" style="background-position: 0% 60%;" data-background="{% static 'images/family-house.jpg' %}" data-color="#fa5b0f"
		data-color-opacity="0.35" data-img-width="700" data-img-height="600">
	<div class="parallax-content">
		<div class="container">
			<div class="faq-parallax">
				<h1>Privacy Policy</h1>
			</div>
		</div>
	</div>
</div>

<div class="container margin-top-30 padding-bottom-60">
	<div class="col-md-8 margin-left-100 padding-left-100">
		<p><h3><strong>Our policy on your privacy</strong></h3><br/>
		At Lagopoly we recognise that privacy is important. This document outlines the types of personal information we receive and collect when you use Lagopoly's services, as well as some of the steps we take to safeguard information. We hope this will help you make an informed decision about sharing personal information with us.

		Lagopoly is fully compliant with the Data Protection Act</p>

		<p><strong>Scope</strong><br/>

		This Lagopoly Privacy Policy, which describes the privacy practices that apply to Lagopoly's services.

		Personal information and other data we collect

		Lagopoly collects personal information when you register for a Lagopoly service or otherwise voluntarily provide such information. We may combine personal information collected from you with information from other Lagopoly services or third parties to provide a better user experience, including customising content for you.

		Lagopoly uses cookies and other technologies to enhance your online experience and to learn about how you use Lagopoly services in order to improve the quality of our services.

		Lagopoly’s servers automatically record information when you visit our website including the URL, IP address, browser type and language, and the date and time of your request.
		</p>

		<p><strong>Usage</strong><br/>

		We may use personal information to provide the services you’ve requested, including services that display customised content and advertising.

		We may also use personal information for auditing, research and analysis to operate and improve Lagopoly technologies and services.

		We may share aggregated non-personal information with third parties outside of Lagopoly.

		We may also share information with third parties in limited circumstances, including when complying with legal process, preventing fraud or imminent harm, and ensuring the security of our network and services.</p>

		<p><strong>Your choice</strong><br/>

		We offer you choices when we ask for personal information, whenever reasonably possible.

		You may decline to provide personal information to us and/or refuse cookies in your browser, although some of our features or services may not function properly as a result.

		We make good efforts to provide you access to your personal information upon request and to let you correct such data if it is inaccurate and delete it, when reasonably possible.
		</p>
	</div>

</div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/589b15da1919dc09f9e542ac/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->


{% endblock %}