{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %} Lagopoly | Terms of Use {% endblock %}

{% block content %}

<!-- Titlebar
================================================== -->
<div id class="parallax" style="background-position: 0% 60%;" data-background="{% static 'images/family-house.jpg' %}" data-color="#fa5b0f"
		data-color-opacity="0.35" data-img-width="700" data-img-height="600">
	<div class="parallax-content">
		<div class="container">
			<div class="faq-parallax">
				<h1>Terms of Use</h1>
			</div>
		</div>
	</div>
</div>

<div class="container margin-top-30 padding-bottom-60">
	<div class="col-md-8 margin-left-100 padding-left-100">
		<p>	<h3><strong>1. Terms</strong></h3>

			By accessing the website at http://lagopoly.com, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.
		</p>

		<p>	<h3><strong>2. License to Use</strong></h3>

			Permission is granted to temporarily download one copy of the materials (information or software) on Lagopoly's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
			modify or copy the materials;
			use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
			attempt to decompile or reverse engineer any software contained on Lagopoly's website;
			remove any copyright or other proprietary notations from the materials; or
			transfer the materials to another person or "mirror" the materials on any other server.
			This license shall automatically terminate if you violate any of these restrictions and may be terminated by Lagopoly at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
		</p>

		<p>
			<h3><strong>3. Disclaimer</strong></h3>

			The materials on Lagopoly's website are provided on an 'as is' basis. Lagopoly makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.
			Further, Lagopoly does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.
		</p>

		<p>
			<h3><strong>4. Limitations</strong></h3>

			In no event shall Lagopoly or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Lagopoly's website, even if Lagopoly or a Lagopoly authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
		</p>

		<p>
			<h3><strong>5. Accuracy of Materials</strong></h3>

			The materials appearing on Lagopoly's website could include technical, typographical, or photographic errors. Lagopoly does not warrant that any of the materials on its website are accurate, complete or current. Lagopoly may make changes to the materials contained on its website at any time without notice. However Lagopoly does not make any commitment to update the materials.
		</p>

		<p>
			<h3><strong>6. Links</strong></h3>

			Lagopoly has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Lagopoly of the site. Use of any such linked website is at the user's own risk.
		</p>

		<p>
			<h3><strong>7. Modifications</strong></h3>

			Lagopoly may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.
		<p>

		<p>
			<h3><strong>8. Governing Law</strong></h3>

			These terms and conditions are governed by and construed in accordance with the local laws of the operating branch and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.
		</p>
	</div>

</div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/589b15da1919dc09f9e542ac/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->


{% endblock %}